* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.header {
  background-color: #1f2937;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  max-width: 1200px;
  margin: 0 auto;
}

.navbar h2 {
  color: #f9faf8;
  font-size: 24px;
}

.navlink {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navlink li a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 80px;
  gap: 50px;
  padding-bottom: 80px;

}

.text {
  flex: 1;
}

.text h1 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
  margin-bottom: 20px;
}

.text p {
  font-size: 18px;
  color: #E5E7EB;
  margin-bottom: 20px;
}

.text button {
    padding: 8px 20px;
    font-size: 18px;
    background-color: #3882F6;
    color: #f9faf8;
    cursor: pointer;
    border-radius: 8px;
    border: none;
}

.text button:hover {
    background-color: #2563EB;
}

.hero-img {
  flex: 1;
  max-width: 500px;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

.info {
    text-align: center;
    padding: 60px 20px;
}

.info h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin-bottom: 40px;
}

.info-cards {
    display: flex;
    justify-content: center;
    gap: 60px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    max-width: 250px;
}

.card img {
    width: 250px;
    height: 250px;
    border-radius: 8px;
}

.quote {
    background-color: #E5E7EB;
    padding: 90px 20px;
}

.quote-container {
    max-width: 950px;
    margin: 0 auto;
}

.quote-text {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    margin-bottom: 20px;
}

.quote-author {
    font-size: 20px;
    color: #1F2937;
    font-weight: 600;
    text-align: right;
}

.cta {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 20px;
}

.cta-container {
    max-width: 1100px; 
    width: 100%; 
    padding: 30px 60px;
    background-color: #3882F6;
    border-radius: 8px;
    display: flex;
}

.cta-text {
    color: #f9faf8;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
}   

.cta-text h3 {
    font-size: 26px;
    font-weight: 700;
}

.cta-text p {
    font-size: 18px;
    font-weight: 200;
}

.cta-button {
    padding: 5px;
    font-size: 18px;
    width: 150px;
    height: 40px;
    background-color: #3882F6;
    color: #f9faf8;
    cursor: pointer;
    border-radius: 8px;
    border: 2px solid #f9faf8;
    align-self: center;
}

.cta-button:hover {
    background-color: #2563EB;
    border: 2px solid #E5E7EB;
}

.footer {
    background-color: #1F2937;
    padding: 40px 20px;
    text-align: center;
    color: #f9faf8;
}